In [1]:
import pandas as pd

data = pd.read_csv('/home/serao/violence_detection/violence-detection/log/optflow/version_0/metrics.csv')
df = data[['epoch','val_loss', 'val_acc']]
df = df.dropna()
df

    epoch  val_loss   val_acc
1     0.0  0.657950  0.603741
4     1.0  0.618058  0.651361
7     2.0  0.596736  0.687075
10    3.0  0.600291  0.656463
13    4.0  0.579608  0.700680
16    5.0  0.574796  0.709184
19    6.0  0.571348  0.710884
22    7.0  0.564513  0.727891
25    8.0  0.569778  0.724490
28    9.0  0.574040  0.714286
31   10.0  0.593143  0.727891
34   11.0  0.579390  0.715986
37   12.0  0.600263  0.712585
40   13.0  0.602169  0.719388
43   14.0  0.633385  0.721088
46   15.0  0.641732  0.709184

In [2]:
df2 = data[['epoch','train_loss', 'train_acc']]
df2 = df2.dropna()
df2

    epoch  train_loss  train_acc
2     0.0    0.691132   0.535714
5     1.0    0.633508   0.655248
8     2.0    0.594459   0.697522
11    3.0    0.565088   0.715743
14    4.0    0.546853   0.728863
17    5.0    0.525271   0.733236
20    6.0    0.487194   0.771137
23    7.0    0.464633   0.787172
26    8.0    0.422848   0.814140
29    9.0    0.403306   0.827259
32   10.0    0.372158   0.856414
35   11.0    0.339587   0.877551
38   12.0    0.290906   0.905977
41   13.0    0.289883   0.886297
44   14.0    0.245490   0.911808
47   15.0    0.243375   0.907434